<div class="row">
    <div class="col-12">
        <h1 class="m-1 mb-2">Introduction</h1>
        <p>
            Himalaya College of Nursing and Allied Health Sciences Mardan is a private sector national
            college committed to meeting the needs and ambitions of a diverse range of students by
            providing challenging academic Nursing programs underpinned by international accredited
            qualifications, social diversity, academic excellence and entrepreneurial centered achievement.
            The Himalaya College of Nursing &amp; Allied Health Sciences is registered by Pakistan Nursing
            Council (PNC) Islamabad, Approved by the Higher Education Regulatory Authority Khyber
            Pakhtunkhwa (HERA KP), Recognized by Health Foundation and Health Department, and
            College is affiliated with Khyber Medical University, Peshawar.
            The purpose of the establishing Himalaya College of Nursing Mardan has an edge to be
            different by scaling in environment in which each Nursing student is coached, mentored,
            counseled and provided ample support and opportunity to discover themselves; be in terms of
            Nursing Leaders or in the broader terms of applications and acceptances. High quality teaching
            and learning at HCN is ensured at all tiers, with an unswerving dedication to the development
            and application of original knowledge and also sharpen scales of analysis, creative thinking and
            potential to be a convincing contributors of the healthy society.
        </p>
    </div>
</div>