<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">ADMISSIONS POLICY</h4>
        <hr class="mb-1" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <p>
            A candidate seeking admission in any of the program shall apply online or download on
            prescribed application form available on www.hcn.edu.pk. The candidate shall submit the
            application form along with the attested photocopies of all documents as mentioned in the
            application form. If any document / information provided by the candidate were found
            false/fake or fabricated at any stage of the course, the admission will be cancelled. Incomplete
            applications will not be entertained.
        </p>
    </div>
</div>