<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-12 hcn-about-bg-img">
                <div class="container">
                    <div class="col-lg-12 p-4 pl-0">
                        <h2 class="ml-4">About HCN</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 about-whole-section-bColor">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 about-pg h-100">
                    <ul>
                        <li class="p-1">
                            <a routerLink="/aboutHcn/hcn-introduction">
                                Introduction</a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/aboutHcn/hcn-mission">
                                Mission</a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/aboutHcn/hcn-vision">
                                Vision</a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/aboutHcn/hcn-objectives">
                                Objectives</a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/aboutHcn/hcn-professional-values">
                                Professional values</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 about-right-section-bColor ">
                    <router-outlet></router-outlet>                  
                </div>
            </div>
            <app-explore-hcn></app-explore-hcn>
        </div>
    </div>
</div>