<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">BS Nursing (4-Year) Degree Program</h4>
        <hr class="mb-1" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <p>
            The Bachelor of Science in Nursing (BScN​) program equips students with knowledge, skills and
            attitude needed to practice nursing. It is designed to prepare clinically competent professional
            nurses. Upon completion of the program, nurses are able to utilize critical thinking in providing
            holistic nursing care and play a role as change agents in nursing practice and education in any
            health care setting. 
            This is a four-year academic program with a mandatory one-year internship. At the conclusion
            of the five years, students will be eligible for license as a Registered Nurse. 
            The entire course is spread over 8 semesters. The courses taught during the Four years / 8
            semesters are as follows.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-plus"></i> Semester 1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 1</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Fundamental of Nursing – 1</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Microbiology</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Anatomy &amp; Physiology – 1</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Biochemistry for Nurses</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">English – 1</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">Computer Skills</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>16</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-plus"></i> semester 2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 1</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Fundamental of Nursing – II</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Anatomy &amp; Physiology – II</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Community Health Nursing – I</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Applied Nutrition</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">English – II</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">Islamiat*</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td colspan="3">Pak. Studies*</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>17</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus"></i> semester 3
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 4</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Adult Health Nursing – II</td>
                                    <td></td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Pathophysiology – II</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Health Assessment – II</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Developmental Psychology</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">Pharmacology – II</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">English – IV</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td colspan="3">Nursing Ethics</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>20</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-plus"></i>  semester 4
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 4</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Adult Health Nursing – II</td>
                                    <td></td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Pathophysiology – II</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Health Assessment – II</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Developmental Psychology</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">Pharmacology – II</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">English – IV</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td colspan="3">Nursing Ethics</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>20</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="fa fa-plus"></i>   semester 5
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 5</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Pediatrics Health Nursing</td>
                                    <td></td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Community Health Nursing – II</td>
                                    <td></td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Teaching / Learning: Principles and Practices</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">English – V</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>18</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            <i class="fa fa-plus"></i>  semester 6
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 6</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Mental Health Nursing</td>
                                    <td></td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Introduction to Biostatics</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Behavioral Psychology</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Epidemiology</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">English – IV</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">Culture, Health and Society</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>18</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven">
                            <i class="fa fa-plus"></i>  semester 7
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 7</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Critical Care Nursing</td>
                                    <td></td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Introduction to Nursing theories</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Leadership and Management in Nursing</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Nursing Research</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">English VII</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>17</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                            <i class="fa fa-plus"></i> semester 8
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 8</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Community Health Nursing-III</td>
                                    <td></td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Nursing Seminar / role transition</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Clinical Practicum</td>
                                    <td></td>
                                    <td>5</td>
                                </tr>
 
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>12</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>