<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-12 hcn-degree-bg-img">
                <div class="container">
                    <div class="col-lg-12 p-4 pl-0">
                        <h4 class="ml-4">MEMBERSHIP & AFFILIATION</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 dp-whole-section-bColor">
        <div class="row">
            <div class="col-12">
                <div class="container dp-whole-section-container-bColor">
                    <div class="col-lg-12">
                        <h5 class="mt-2 mb-3">Himalaya College of Nursing and Allied Health Sciences is affiliated with
                            the following
                            regulatory and governing bodies</h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="m-header-h5">1. Pakistan Nursing Council, Islamabad</h5>
                        <p>
                            It’s a regulatory and licensing body for the nursing profession in Pakistan. Both
                            programs –BScN and Post RN BScN – are recognized by the council. Himalaya College of
                            Nursing following the approved curricula for BS Nursing, Post RN, rules and regulations
                            of PNC.
                        </p>
                        <p>
                            For details please visit their website: <a
                                href="http://www.pnc.org.pk" target="_blank">http://www.pnc.org.pk</a>
                        </p>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <h5 class="m-header-h5">2. Higher Education Regulatory Authority (HERA) Khyber Pakhtunkhwa</h5>
                        <p>
                            Higher Education Regulatory Authority (HERA) is an autonomous body, which is
                            mandated &quot;to streamline, supervise and regulate functioning of the degree level private
                            institutions in Khyber Pakhtunkhwa&quot; under the Khyber Pakhtunkhwa Registration and
                            Functioning of Private Educational Institutions Ordinance, 2001.
                        </p>
                        <p>
                            For details please visit their website: <a
                                href="http://www.herakp.gov.pk" target="_blank">http://www.herakp.gov.pk</a>
                        </p>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <h5 class="m-header-h5">3. Khyber Medical University (KMU) Peshawar</h5>
                        <p>
                            Khyber Medical University (KMU) Peshawar is the leading Medical University in Khyber
                            Pakhtunkhwa. KMU is the degree awarding University of the Himalaya college of
                            Nursing and Allied Health Sciences, Mardan..
                        </p>
                        <p>
                            For further detail on Khyber Medical University, Peshawar please visit <a
                                href="http://www.kmu.edu.pk"target="_blank">http://www.kmu.edu.pk</a>
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="m-header-h5">4. Health Foundation Khyber Pakhtunkhwa, Peshawar</h5>
                        <p>
                            The Himalaya College of Nursing and Allied Health Sciences has signed an MoU with the DHQ
                            hospital Mardan for Clinical Practice and Training of BSN and Post RN students. Further the
                            MoU has been properly endorsed through Health Foundation Khyber Pakhtunkhwa Peshawar.
                        </p>
                        <p>
                            For further details the role and function of Health Foundation please visit <a
                                href="http://www.kphf.gov.pk" target="_blank">http://www.kphf.gov.pk</a>
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="m-header-h5">5. Nursing Education Board Peshawar (NEBP)</h5>
                        <p>
                            Nursing Education Board Peshawar is the provincial board of nursing in Khyber
                            Pakhtunkhwa for awarding Diploma in Nursing, Midwifery, and other specialties in
                            nursing.
                            Himalaya College of Nursing is the constituent and affiliated Nursing College for
                            awarding Basic Diploma of pediatric Nursing and Community Health Nursing.
                        </p>
                        <p>
                            For further details please visit NEB Peshawar website as <a
                                href="https://www.pnc.org.pk/Nursing_Examination_Boards.html" target="_blank">

                                https://www.pnc.org.pk/Nursing_Examination_Boards.html
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>