<div class="row" >
    <div class="col-lg-12 secondary-nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <h4 class="hcn-text mt-2">HIMALAYA COLLAGE OF NURSING & <span>ALLIED HEALTH SCIENCES</span></h4>
                </div>
            </div>
            <div class="row easy-to-access">
                <div class="program-link col-6 col-md-3 ">
                    <div class="py-4 pr-5">
                        <h3 class="title">Academics</h3>
                        <div class="link action-link">
                            <a routerLink="/degreePrograms">
                                Degrees &amp; Programs
                            </a>
                        </div>
                    </div>
                </div>

                <div class="program-link col-6 col-md-3 ">
                    <div class="py-4 pr-5">
                        <h3 class="title">Admission</h3>
                        <div class="link action-link">
                            <a href="#">
                                Application &amp; Process
                            </a>
                        </div>
                    </div>
                </div>

                <div class="program-link col-6 col-md-3 ">
                    <div class="py-4 pr-5">
                        <h3 class="title">VISIT HCN</h3>
                        <div class="link action-link">
                            <a href="#">
                                Collage &amp; tours
                            </a>
                        </div>
                    </div>
                </div>

                <div class="program-link-blue col-6 col-md-3 ">
                    <div class="py-4 pr-5">
                        <h3 class="title">READ MORE</h3>
                        <div class="link action-link-b">
                            <a routerLink="/whyHCN">
                                Why HCN
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ............................................................................. -->
<div class="row mb-3 homepage-about-hcn-bgc">
    <div class="col-12 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 class="homepage-about-hcn">About HCN</h1>
                    <div class="homepage-about-hcn-desc pl-2 pr-">
                        <p>
                            <!-- Himalaya Nursing College and Allied Health Sciences is rewriting the rules and resetting the
                            odds. We are changing higher education to
                            provide our students with unparalleled value. Himalaya Nursing College and Allied Health
                            Sciences is a model professional nursing collage
                            born out of a unique thoughts.
                            Through our distinctive and award-winning 21st-century curriculum, we are preparing students
                            with the skills they need to succeed and lead now and in the future of work. At HCN,
                            we are helping you to redefine what’s humanly possible. -->
                            Himalaya College of Nursing and Allied Health Sciences Mardan is a private sector national
                            college committed to meeting the needs and ambitions of a diverse range of students by
providing challenging academic Nursing programs underpinned by international accredited
qualifications, social diversity, academic excellence and entrepreneurial centered achievement.
The Himalaya College of Nursing &amp; Allied Health Sciences is registered by Pakistan Nursing
Council (PNC) Islamabad, Approved by the Higher Education Regulatory Authority Khyber
Pakhtunkhwa (HERA KP), Recognized by Health Foundation and Health Department, and
College is affiliated with Khyber Medical University, Peshawar.
The purpose of the establishing Himalaya College of Nursing Mardan has an edge to be
different by scaling in environment in which each Nursing student is coached,mentored,counseled and provided ample support and opportunity to discover themselves;
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="../../../assets/97f090c3-c426-49b6-96cf-3a217b5d7508.jpg" class="homepage-about-hcn-desc-image" />
                </div>
                <div class="col-lg-12 pl-2">
                       <div class="homepage-about-hcn-desc pl-3 ">
                            
                         be in terms of
                        Nursing Leaders or in the broader terms of applications and acceptances. High quality teaching
                        and learning at HCN is ensured at all tiers, with an unswerving dedication to the development
                        and application of original knowledge and also sharpen scales of analysis, creative thinking and
                        potential to be a convincing contributors of the healthy society.
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ............................................................................. -->
<!-- ............................................................................. -->
<div class="row affiliation-hcn-bgC">
    <div class="col-12 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 affiliation-hcn-header-text">
                    <h2 class="text-left mb-4 mt-2">MEMBERSHIP &amp; AFFILIATION</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>
                        Himalaya College of Nursing and Allied Health Sciences is affiliated with the following
                        regulatory and governing bodies
                    </h6>
                    <div class="pt-3 pb-1 affiliation-hcn-desc-bg">
                        <ul>
                            <li>Pakistan Nursing Council, Islamabad</li>
                            <li>Higher Education Regulatory Authority (HERA) Khyber Pakhtunkhwa</li>
                            <li>Khyber Medical University (KMU) Peshawar</li>
                            <li>Health Foundation Khyber Pakhtunkhwa, Peshawar</li>
                            <li>Nursing Education Board Peshawar (NEBP)</li>
                        </ul>
                        <!-- <div class="visit-link">
                            <a class="ml-4" href="#">MORE ABOUT MEMBERSHIP &amp; AFFILIATION</a>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ............................................................................. -->
<!-- ............................................................................. -->
<div class="row">
    <div class="col-12 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 explore-hcn-header-text">
                    <h2 class="text-center mb-4 mt-2">Explore HCN</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#" class="ex-links">Accommodation</a>
                    <div class="exp-image mt-2">
                        <img src="../../../assets/explore-kings-accommodation.jpg" />
                    </div>
                    <div class="exp-desc">
                        <p>

                            Take a look at our comfortable, safe residences to suit your budget, located close to HCN
                            nursing collage.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#" class="ex-links">Student life</a>
                    <div class="exp-image mt-2">
                        <img src="../../../assets/explore-kings-student-life.jpg" />
                    </div>
                    <div class="exp-desc">
                        <p>
                            Art, food, music, shopping – you'll never find yourself with nothing to do in the hcn
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#" class="ex-links">Extra-curricular</a>
                    <div class="exp-image mt-2">
                        <img src="../../../assets/explore-kings-extra-curricular.jpg" />
                    </div>
                    <div class="exp-desc">
                        <p>

                            Discover the huge variety of extra-curricular opportunities at HCN.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ............................................................................. -->