.why-hcn-upper {
    /* background: #e6ebed; */
    height: 450px;
    background-image: url(../../../assets/1543947226555.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 70%;
}
.why-hcn-upper-desc {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.02667em;
    line-height: 1.86667em;
    background-color: #ffffff;
    font-family: "GT Haptik", sans-serif;
    color: #231f20;
}
.why-hcn-upper-h {
    font-size: 2.66667rem;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e53e30), color-stop(7%, #e53e30), color-stop(0%, transparent));
    background-image: linear-gradient(to bottom, #e53e30 0, #e53e30 7%, transparent 0%);
    background-position-y: -0.09571em;
    background-repeat: repeat;
    background-size: 1px 1.27143em;
    line-height: 1.3em;
    color: #ffffff;
    font-family: "GT Haptik", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-right: 0.25em;
    padding-bottom: 0.6em;
    letter-spacing: 0.0002em;
}
.why-hcn-lower div h2 {
    color: #203887;
}
.campus-based-facilities ul li h6 {
    color: #231f20 !important;
}
@media (max-width:770px){

    .why-hcn-upper-h { 
        font-size: 1.0rem !important;
    }
    .why-hcn-upper {
        height: auto !important;
        background-size: 100% 80% !important;
    }
}
@media (max-width:414px){

    .why-hcn-upper-h { 
        font-size: 1.0rem !important;
    }
    .why-hcn-upper {
        height: auto !important;
        background-size: 100% 80% !important;
    }
}