<div class="row m-0">
    <div class="col-lg-12 why-hcn-upper">
        <div class="container">
            <div class="row">
                <h1 class="why-hcn-upper-h mt-5">Why Himalaya College of Nursing?</h1>
                <div class="why-hcn-upper-desc p-4">
                    <p>
                        Selecting where you will study for your chosen career is one of the most transforming decisions
                        of your life. You would like to choose a course with a high international reputation and
                        standards that would get the best out of your God given talents. At HCN our aim is to take the
                        best candidates into our program and give them experience and training necessary to make
                        deference to all they treat and in so doing, we hope they will gain that empathy that will make
                        them the nurses our world needs. HCN is dedicated to education the next generation of leaders
                        in nursing. Comprehensive facilities, and one of the best faculties in the region, provide
                        students with a supportive environment to acquire a scientific foundation and develop the
                        skills, attitudes, knowledge and commitments, necessary to perform clinical and research
                        activities at the highest level. Our commitment to excellence and collaboration across
                        scientific
                        and nursing disciplines creates an optimal atmosphere for learning.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row why-hcn-lower">
            <div class="container mt-2">
                <h2>On Campus Based facilities</h2>
                <div class="mt-3 campus-based-facilities">
                    <ul>
                        <li>
                            <h6>Environment</h6>
                            <ul>
                                <li>
                                    Himalaya College of Nursing Provide a conducive environment for learning and
                                    character building.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h6>Diversity</h6>
                            <ul>
                                <li>
                                    We cultivate a sense of community by having people of diverse faiths, backgrounds,
                                    regions, interests and talents. We all work and learn in harmony.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h6>Co-Curriculum</h6>
                            <ul>
                                <li>
                                    We are not just about academics. We provide our students with opportunities that
                                    bring their hidden talent in community/hospital based projects, arts and debates.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h6>Campus</h6>
                            <ul>
                                <li>
                                    Himalaya College of Nursing is located on Mill Bypass Road near Dwasaro Chowk
                                    Mardan, an easy access and opportunity to provide a conducive ambience for
                                    prospective students of nursing.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h6>Language</h6>
                            <ul>
                                <li>
                                    Our focus is on developing communication skills of our students to help them succeed
                                    in their professional lives.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h6>Class Rooms and Laboratories</h6>
                            <ul>
                                <li>
                                    All the class rooms are equipped with over - head projectors, multimedia and white
                                    board. Class rooms are air-conditioned to provide necessary comfort to make the
                                    environment conducive to attentive learning.
                                    Himalaya College of Nursing provides the opportunity to avail Laboratories
                                    facilities available on a campus.
                                    <ul>
                                        <li>Skill Lab</li>
                                        <li>Bio- Chemistry Lab</li>
                                        <li>Anatomy & Physiology Lab</li>
                                        <li>Computer Lab</li>
                                        <li>Microbiology</li>
                                    </ul>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>