<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">SELECTION  CRITERIA</h4>
        <hr class="mb-2" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <h6>
            Candidate applying for admission shall fulfill the following criteria for admission in
            <strong>Generic BS Nursing Degree</strong> Program as:
        </h6>
        <ul>
                <li>
                    Metric with Science (Biology, Chemistry, Physics, and Mathematics) or O Level
                    Certificate accompanied by an equivalency Certificate from Inter Board Committee of
                    Chairman (IBCC).
                </li>
                <li>
                    Intermediate (Pre-Medical) with at least 50% Marks A- Level Certificate accompanied by
                </li>
                <li>
                    Both male and female can apply of age limit from 17 to 25 years.
                </li>
                <li>
                    Entrance test
                </li>
                <li>
                    Interview
                </li>
            </ul>
    </div>

    <div class="col-12">
            <h6>Candidate will be selected by calculating the percentage marks of the following as:</h6>
  
            <table class="table  table-bordered w-100">
                        
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td colspan="3">Adjusted marks obtained in FSc or Equivalent Examination</td>
                            <td></td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td colspan="3">Entry Test Marks</td>
                            <td></td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="3">SSC Marks</td>
                            <td></td>
                            <td>10%</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>