<div class="row">
    <div class="col-12 hcn-objectives">
        <h1 class="m-1 mb-2">Professional values</h1>
    </div>
    <div class="col-12">
        <ul>
            <li>
                <p>
                    Personal honesty, integrity and respect for humanitarian, traditional and cultural values.
                </p>
            </li>
            <li>
                <p>
                    Personal and professional development of faculty and supportive staff.
                </p>
            </li>
            <li>
                <p>
                    Team work, mutual respect, and collaboration.
                </p>
            </li>
            <li>
                <p>
                    Personal, institutional and professional accountability.
                </p>
            </li>
            <li>
                <p>
                    Generation, synthesis, application, and dissemination of knowledge.
                </p>
            </li>
            <li>
                <p>
                    Providing services to local, regional, national and international communities.
                </p>
            </li>
            <li>
                <p>
                    Continuous improvement of our programs through processes of sustainable
                    development.
                </p>
            </li>
        </ul>
    </div>
</div>