<div class="row">
    <div class="col-12 hcn-objectives">
        <h1 class="m-1 mb-2">OBJECTIVE</h1>
        <h6 class="mt-2 mb-2">
            Himalaya College of Nursing and Allied Health Sciences is a private Nursing Institution has
            been established with the following academic and professional objectives.
        </h6>
        <p>
            Himalaya College of Nursing’s vision is to emerge and excel as a leader among academic
            institutions of Pakistan is knowledge development, dissemination, integration and
            application.
        </p>
    </div>
    <div class="col-12">
       <ul>
           <li>
               <p>
                Provide access to education in nursing for students from diverse backgrounds.
               </p>
           </li>
           <li>
               <p>
                Prepare graduates of the Bachelor of Science Nursing Program for entry into
                professional nursing practice and for advanced study in the discipline of nursing.
               </p>
           </li>
           <li>
               <p>
                Prepare graduates for leadership roles in specialized advanced nursing practice.
               </p>
           </li>
           <li>
               <p>
                Produce graduates for careers as nurse scholars, nurse educators, and nurse
                scientists who apply advanced knowledge in health promotion and develop
                effective strategies and interventions that narrow the gap of health disparities and
                that promote health for individuals, families, groups, and community.
               </p>
           </li>
           <li>
               <p>
                Prepare graduates who not only provide quality primary care to patients, but who
                assume leadership roles in the health care system, and have the knowledge and
                skills necessary to propose solutions to improve patient care and health care
                outcomes.
               </p>
           </li>
           <li>
               <p>
                Promote excellence and innovation in teaching, service, scholarship and research.
               </p>
           </li>
           <li>
               <p>
                Contribute to local, regional, national and global health by helping to meet the
                societal need for well-educated nursing professionals with expertise in health
                promotion.
               </p>
           </li>
           <li>
               <p>
                Providing a supportive environment to promote an attitude of life-long learning to
                the nursing professionals for enhancing their knowledge, technical capabilities and
                improving their professional conduct.
               </p>
           </li>
           <li>
               <p>
                Creating learning opportunities for equipping the nursing graduates with
                knowledge, skills, and attitude to deliver the highest standard nursing care.
               </p>
           </li>
           <li>
               <p>
                Advising and influencing the government, public and the professionals on
                healthcare issues
               </p>
           </li>
       </ul>
    </div>
</div>