.nav-bg {
    background: #0a2d50;;
}
.logo {
    z-index: 1;
    position: absolute;
    top:6px;
}
.secondary-nav {
    background: #e6ebed;
    height: 300px;
}
.secondary-nav .secondary-content {
    height: 400px;
    max-width: 100%;
    /* background-image: url(../../../assets/hush-naidoo-yo01Z-9HQAw-unsplash.jpg) */
}
.secondary-content img {
    height: 400px;
    width:100%;
}
.hcn-text {
    position: absolute;
    top: 45px;
}
.hcn-text h1 span {
    color: #e6ebed;
}
.navbar-nav li a:hover {
    color: yellow !important;
}
.navbar-nav li a:after {
    content: "\e80c";
    position: absolute;
    padding-left: 17px;
    font-size: 0.65em;
    color: #59b7df;
    -webkit-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;
    transition: transform ease 250ms, -webkit-transform ease 250ms;
}
h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
#navbarNav ul li a {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    padding-left: .9375rem;
    padding-right: .9375rem;
    color: #ffff;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: #fff !important;
}
@media (max-width:1024px){
    .hcn-text {
        position: absolute !important;
        top: 59px !important;
    }
}
@media (max-width:768px){
    .logo {
        z-index: 100223;
        position: absolute;
        width: 55px !important;
    }
    #navbarNav {
        z-index: 1000;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        margin-top: 113px !important;
        left: 0px !important;
        padding-left: 10px !important;
    }
    .hcn-text h1 {
        font-size: 22px !important;
    }
    #navbarNav ul li a {
        font-size: 1rem;
        line-height: 1.15;
        padding-left: .9375rem;
        padding-right: .9375rem;
        color: #000000 !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
}
@media (max-width:414px){
    #navbarNav {
        margin-top: 113px !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
    .hcn-text h1 {
        font-size: 20px !important;
    }
}
@media (max-width:411px){
    #navbarNav {
        margin-top: 113px !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
    .hcn-text h1 {
        font-size: 20px !important;
    }
}
@media (max-width:375px){
    #navbarNav {
        margin-top: 113px !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
    .hcn-text h1 {
        font-size: 18px !important;
    }
}
@media (max-width:360px){
    #navbarNav {
        margin-top: 113px !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
    .hcn-text h1 {
        font-size: 18px !important;
    }
}
@media (max-width:320px){
    #navbarNav {
        margin-top: 113px !important;
    }
    .navbar-nav  {
        margin-top: 42px !important;
    }
    .hcn-text h1 {
        font-size: 16px !important;
    }
}