<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">ADMISSION</h4>
        <hr class="mb-1" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <p>
            The college has proposed 50 students for each program to Pakistan Nursing Council and Khyber
            Medical University Peshawar. The Higher Education Commission of Pakistan and Pakistan
            Nursing Council rules and regulation will be followed in admission process. The admission is
            based totally on merit, without discrimination of color, creed, race, and religion, and domicile.
        </p>
    </div>
</div>