<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">ADMISSION TO POST-RN DEGREE PROGRAM</h4>
        <hr class="mb-2" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <h4>
            Candidate applying for admission shall fulfill the following criteria for
            admission in <strong>Post RN B.Sc. Nursing Degree</strong> Program as:
        </h4>
        <ul>
            <li>
                Matric with Science (Biology, Chemistry, Physics as compulsory subjects) or O Level
                Certificate accompanied by an equivalency Certificate from Inter Board Committee of
                Chairman (IBCC) as per HEC requirement,<br>
                <strong>OR</strong><br>
                Matric with Arts as specified by HEC vide Notification No. 8(61)/A&amp;A/2018/HEC/5799 dated 26/04/2018.
            </li>
            <li>
                Diploma in Nursing registered with PNC
            </li>
            <li>
                Diploma in Midwifery OR Any Basic Specialty for male students in lieu of Midwifery
                Diploma registered with PNC.
            </li>
            <li>
                One year Post Midwifery/Specialty Clinical experience.
            </li>
            <li>
                Valid PNC Registration with all entries of Professional Qualification.
            </li>
            <li>
                Provision of NOC from concern department in case of students working in government sector.
            </li>
            <li>
                Passing the written entry test and Interview.
            </li>
        </ul>
        <h6>Merit will be calculated as below</h6>
        <ul>
            <li>Cumulative percentage of all the diploma examinations including midwifery.</li>
            <li>Percentage marks in entry test.</li>
            <li>One mark per year of the professional experience in a recognized institution up to a
                    maximum of 05 marks</li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-plus"></i> APPLICATION INSTRUCTIONS
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Application Form and Prospectus is available on college website www.hcn.edu.pk</li>
                            <li>Prospectus and application processing fee of Rs. 5000 can be deposited online in College
                                    Account Number 07060103783354 at any Meezan Bank Limited at any city.</li>
                            <li>Prospectus and Admission form can also be available from students’ affairs office on
                                    payment of Rs. 5000 in working days from 08:00am to 05:00 pm.</li>
                            <li>Candidates are instructed to send paid fee voucher and attested copies of all required
                                    documents and three recent passport size photographs to the students’ affairs office
                                    before the closing date of admissions.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-plus"></i> ENTRANCE TEST &amp; INTERVIEW
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="p-3">
                                All the eligible candidates will appear in entrance test. The test assesses ability to carry on the
                                studies and clinical requirements of the college. The BSN candidates will be tested for English,
                                Mathematics and analytical portion. The candidates for Post RN and Post basic diploma in
                                nursing will be tested for English, Mathematics, problem solving and basic nursing concepts.
                                Sample test paper attached. The written test will be followed by Interview.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus"></i> ADMISSION COMMITTEE
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                       <p class="p-3">
                            The admission committee is chaired by the Principal Himalaya College of Nursing &amp; Allied
                            Health Sciences Private Limited Mardan.
                       </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-plus"></i> ADMISSION CONFIRMATION
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <p class="p-3">
                            All the selected candidates will be required to confirm their intent to join the college by
                            depositing the admission, tuition and other fees as prescribed, by the college within given time
                            period.
                      </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>