<div class="row">
    <div class="col-12">
        <h1 class="m-1 mb-2">Mission</h1>
        <p>
            The mission of the Himalaya College of Nursing is to educate students, advance
            knowledge, and provide service to the University, the profession, and the community
            through excellence in the discovery, application, integration, and dissemination of
            knowledge. The College emphasizes health promotion needs of individuals, families,
            groups, and communities. We aim to provide an affordable education of high quality and
            to focus scholarship and public service on a global vision of health promotion. Our mission
            is operational in local, regional, national and global initiatives.
        </p>
    </div>
</div>