<div class="row">
    <div class="col-12">
        <h4 class="m-1 mb-2">Post-RN BSN (2-Years) Degree Program</h4>
        <hr class="mb-1" style="width: 100%; background-color: #f3f5f5;height: 4px;">
        <p>
            The Post-RN BScN is a two-year programme designed to give experienced Registered Nurses an
            opportunity to acquire in-depth knowledge and skills needed to practice nursing care as
            clinically competent professional nurses. Graduates will be able to provide leadership and
            influence the development of the nursing profession in Pakistan.
            Upon completion of the programme, nurses are able to utilize critical thinking in providing
            holistic nursing care and play a role as change agents in nursing practice and education in any
            health care setting.
            The entire course is spread over 4 semesters. The courses taught during the two years / 4
            semesters are as follows.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-plus"></i> Semester 1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 1</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Advance Nursing Concept Part-I (Adult Health Nursing)</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Health Assessment Theory and Practical</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Pharmacology</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Biochemistry</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">Computer Skills and Information Technology</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">English – I (Functional English)</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>16</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-plus"></i> semester 2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 1</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Advance Nursing Concept Part-II Mental Health Nursing</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Introduction to Biostatistics &amp; Epidemiology</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Epidemiology</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Culture, Health, and Society</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">Introduction to Nursing Theories and Models</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">Principles of teaching and Preceptorship</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td colspan="3">English – II (Academic English Writing)</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>19</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus"></i> semester 3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 3</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Advance Nursing Concept Part-III Community Health Nursing</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Nursing Research</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="3">Professional Development and Ethics</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3">Pakistan Studies</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td colspan="3">Leadership and Management</td>
                                    <td></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td colspan="3">English-III (Professional Writing)</td>
                                    <td></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">Total Cr. Hrs &amp; Marks</td>
                                    <td>12</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-plus"></i> semester 4
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table  table-bordered w-100">
                            <thead>
                                <tr>
                                    <th colspan="5">semester 4</th>
                                    <th>Cr. Hrs</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- .................................................. -->
                                <tr>
                                    <td>1</td>
                                    <td colspan="3">Research Evidenced Based Elective Project</td>
                                    <td></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td colspan="3">Clinical Practicum</td>
                                    <td></td>
                                    <td>6</td>
                                </tr>
                                <!-- .................................................. -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>