<!-- ............................................................................. -->
<div class="row">
    <div class="col-12 mt-5">
        <div class="container-fluid footer-upper" id="contact">
            <div class="row shadow-sm">
                <div class="col-12">
                    <div class="container mb-3">
                        <div class="row">
                            <div class="col-sm-12 col-lg-8">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <h5 class="area-of-interest">Area of interest</h5>
                                        <div class="area-interest-links">
                                            <div class="links-color list-style-none">
                                                <div><a href="">Generic BSN</a></div>
                                                <div><a href="">Post RN BSN Degree</a></div>
                                                <div>
                                                    <a href="">
                                                        Post Basic Diploma
                                                        In Pediatric Care Nursing
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="">
                                                        Community Midwifery
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <h3 class="area-of-interest">About us</h3>
                                        <div class="area-interest-links">
                                            <div class="links-color list-style-none">
                                                <div><a routerLink="aboutHcn/hcn-introduction">Introduction</a></div>
                                                <div><a routerLink="aboutHcn/hcn-mission">Mission</a></div>
                                                <div><a routerLink="aboutHcn/hcn-vision">Vision</a></div>
                                                <div><a routerLink="aboutHcn/hcn-objectives">Objectives</a></div>
                                                <div><a routerLink="aboutHcn/hcn-professional-values">Professional
                                                        values</a></div>
                                            </div>
                                        </div>
                                    </div>
                              
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <h3 class="area-of-interest">MEMBERSHIP & AFFILIATION</h3>
                                        <div class="area-interest-links">
                                            <div class="links-color list-style-none">
                                                <div>
                                                    <a routerLink="/MEMBERSHIPAFFILIATION">Membership</a>
                                                </div>
                                                <div><a href="">Partners</a></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                                            <h3 class="area-of-interest">Application & Process</h3>
                                            <div class="area-interest-links">
                                                <div class="links-color list-style-none">
                                                    <div>
                                                        <a routerLink="/applicationProcess/admission">
                                                            Admission
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a routerLink="/applicationProcess/admission-policy">
                                                            Admission policy
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a routerLink="/applicationProcess/selection-criteria">
                                                            Selection criteria
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a routerLink="/applicationProcess/generic-bsn">
                                                            Admission to generic BSN
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a routerLink="/applicationProcess/post-rn">
                                                            Admission to post rn
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4 contact">
                                <h5 class="contact-us">Contact us</h5>
                                <p>
                                    <a href="#">+92 (0)20 7836 5454</a>
                                </p>
                                <address>
                                    <p>
                                        Himalaya Nursing College &<br>
                                        Allied Health Sciences <br>
                                        Mardan
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ............................................................................. -->