<div class="row">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-12 hcn-app-pro-bg-img">
                <div class="container">
                    <div class="col-lg-12 p-4 pl-0">
                        <h4 class="ml-4">Application & process</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 dp-whole-section-bColor">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 about-pg h-100">
                    <ul>
                        <li class="p-1">
                            <a routerLink="/applicationProcess/admission">
                                Admission
                            </a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/applicationProcess/admission-policy">
                                Admission policy
                            </a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/applicationProcess/selection-criteria">
                                Selection criteria 
                            </a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/applicationProcess/generic-bsn">
                               Admission to generic BSN
                            </a>
                        </li>
                        <li class="p-1">
                            <a routerLink="/applicationProcess/post-rn">
                                Admission to post rn
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 dp-right-section-bColor pt-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<app-explore-hcn></app-explore-hcn>>