.explore-hcn-header-text h2 {
    font-size: 48px;
    font-family: BureauGrotesqueThreeSeven, 'Times New Roman', Times, serif;
    margin-top: 0;
    font-weight: 500;
    color: #0a2d50;
    line-height: 1.2;
}
.ex-links {
    color: #eb2f2d;
    font-size: 22px;
    text-decoration: none;
    border: 0;
    font-family: BureauGrotesqueThreeSeven, 'Times New Roman', Times, serif
}
.exp-image img {
width: 100%;
}
.exp-desc {
    line-height: 1.6;
    color: #666;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.grow-hover:hover {
    border: 0.25rem solid transparent;
    transform: scale(1);
    transition: all 325ms cubic-bezier(0, 0, 0, 1);
    background: #edf2f9;
}
.bg-md-color {
    background-color: #fff;
}