<div class="row">
        <div class="col-12 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 explore-hcn-header-text">
                        <h2 class="text-center mb-4 mt-2">Explore HCN</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="ex-links">Accommodation</a>
                        <div class="exp-image mt-2">
                            <img src="../../../assets/explore-kings-accommodation.jpg" />
                        </div>
                        <div class="exp-desc">
                            <p>
    
                                Take a look at our comfortable, safe residences to suit your budget, located close to HCN
                                nursing collage.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="ex-links">Student life</a>
                        <div class="exp-image mt-2">
                            <img src="../../../assets/explore-kings-student-life.jpg" />
                        </div>
                        <div class="exp-desc">
                            <p>
                                Art, food, music, shopping – you'll never find yourself with nothing to do in the hcn
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="ex-links">Extra-curricular</a>
                        <div class="exp-image mt-2">
                            <img src="../../../assets/explore-kings-extra-curricular.jpg" />
                        </div>
                        <div class="exp-desc">
                            <p>
    
                                Discover the huge variety of extra-curricular opportunities at HCN.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
